<!DOCTYPE html>
<html>
  <head>
    <title>Yapo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if notice %>
        <p class="notice"><%= notice %></p>
    <%end%>
    <%= yield %>
    <%if alert %>
       <p class="alert"><%= alert %></p>
    <%end%>
    <%if user_signed_in?%>
    <%= link_to  "log_out",destroy_user_session_path,method:'delete'  %>
    <%end%>
  </body>
</html>
